.team-wrapper {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    min-height: 100vh;
  }
  
  .team-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/88980063690843.5b0edd225e9f7.jpg') no-repeat center center/cover;
    opacity: 1; 
    z-index: -1;
    filter: blur(5px);
  }

  .main-head{
    color: #F5F5DC
    ;
  }

  .sponsor-wrapper {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    min-height: 100vh;
  }
  
  .sponsor-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://img.freepik.com/free-vector/digital-landscape-with-particles-background_52683-18287.jpg?w=2000&t=st=1708851454~exp=1708852054~hmac=74b0fec6c11f0718368267943dfb341b144f5299facd18f0ad59d220d3841eff') no-repeat center center/cover;
    opacity: 1; 
    z-index: -1;
    filter: blur(5px);
  }
