.home-bg {
     position: relative;
     background: url('../../assets/Image/bg-3.jpg') no-repeat center center;
     background-size: cover;
     opacity: 0.5;
     margin-top: 2px;
}

.home-bg:before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%);
}

/* Home.css */

#hero {
     background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/Hero (1).jpg");
     background-repeat: no-repeat;
     height: 100vh;
     min-height: 375px;
     position: relative;
    animation: zoomIn 1s;
    background-position: center -150px;
   }

   
   @media (min-height: 830px) {
     #hero {
       background-position: center -210px;
     }
   }
   
   @media (min-height: 680px) and (max-height: 829px) {
     #hero {
       background-position: center -300px;
     }
   }
   
   @media (min-height: 500px) and (max-height: 679px) {
     #hero {
       background-position: center -400px;
     }
   }
   
   @media (max-height: 499px) {
     #hero {
       background-position: center -450px;
     }
   }
   
   .header_Arohana{
    position: absolute;
    text-transform:uppercase ;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    text-shadow: 2px 2px 4px #000000;
    z-index: 10;
    animation: Trim 2s;
   }
  .row{
    position: absolute;
    right: 20px;
    bottom: 15%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
    font-family: "Marck Script", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
    z-index: 10;
  }

  @media screen and (max-width: 768px) {
    .header_Arohana{
      font-size: 50px;
    }
    .row{
      font-size: 30px;
      right: 20px;

    }
    
  }